body {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  text-align: center;
}
.audioControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90dvw;
}

.volume {
  display: flex;
  padding: 10px;
  font-weight: 600;
  font-size: 18pt;
}
.volume:hover {
  background-color: greenyellow;
}
.volume:focus {
  background-color: greenyellow;
}

button {
  background: none;
}
button:hover {
  background-color: greenyellow;
}
button:focus {
  background-color: greenyellow;
}
.audioControl {
  margin-top: 3rem;
}

.vidContainer {
  width: 50vw;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
video {
  height: 100vh;
}
.videoControl {
  margin-top: 3rem;
}
